@font-face {
  font-family: 'akzidenz-grotesk-condensed';
  src : url('../fonts/akzidenzBertCn/AkzidGroBECn.eot');
  src : url('../fonts/akzidenzBertCn/AkzidGroBECn.eot?#iefix') format('eot'),
        url('../fonts/akzidenzBertCn/AkzidGroBECn.woff2') format('woff2'),
        url('../fonts/akzidenzBertCn/AkzidGroBECn.woff') format('woff'),
        url('../fonts/akzidenzBertCn/AkzidGroBECn.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'akzidenz-grotesk-condensed';
  src : url('../fonts/akzidenzBertCn/AkzidGroBEMdCn.eot');
  src : url('../fonts/akzidenzBertCn/AkzidGroBEMdCn.eot?#iefix') format('eot'),
        url('../fonts/akzidenzBertCn/AkzidGroBEMdCn.woff2') format('woff2'),
        url('../fonts/akzidenzBertCn/AkzidGroBEMdCn.woff') format('woff'),
        url('../fonts/akzidenzBertCn/AkzidGroBEMdCn.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'akzidenz-grotesk-condensed';
  src : url('../fonts/akzidenzBertCn/AkzidGroBEMdCnIt.eot');
  src : url('../fonts/akzidenzBertCn/AkzidGroBEMdCn.eot?#iefix') format('eot'),
        url('../fonts/akzidenzBertCn/AkzidGroBEMdCnIt.woff2') format('woff2'),
        url('../fonts/akzidenzBertCn/AkzidGroBEMdCnIt.woff') format('woff'),
        url('../fonts/akzidenzBertCn/AkzidGroBEMdCnIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'akzidenz-grotesk-condensed';
  src : url('../fonts/akzidenzBertCn/AkzidGroBEBolCn.eot');
  src : url('../fonts/akzidenzBertCn/AkzidGroBEBolCn.eot?#iefix') format('eot'),
        url('../fonts/akzidenzBertCn/AkzidGroBEBolCn.woff2') format('woff2'),
        url('../fonts/akzidenzBertCn/AkzidGroBEBolCn.woff') format('woff'),
        url('../fonts/akzidenzBertCn/AkzidGroBEBolCn.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'akzidenz-grotesk-condensed';
  src : url('../fonts/akzidenzBertCn/AkzidGroBEXBdCn.eot');
  src : url('../fonts/akzidenzBertCn/AkzidGroBEXBdCn.eot?#iefix') format('eot'),
        url('../fonts/akzidenzBertCn/AkzidGroBEXBdCn.woff2') format('woff2'),        url('../fonts/akzidenzBertCn/AkzidGroBEXBdCn.woff') format('woff'),
        url('../fonts/akzidenzBertCn/AkzidGroBEXBdCn.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'akzidenz-grotesk-condensed';
  src : url('../fonts/akzidenzBertCn/AkzidGroBEXBdCnIt.eot');
  src : url('../fonts/akzidenzBertCn/AkzidGroBEXBdCnIt.eot?#iefix') format('eot'),
        url('../fonts/akzidenzBertCn/AkzidGroBEXBdCnIt.woff2') format('woff2'),        url('../fonts/akzidenzBertCn/AkzidGroBEXBdCnIt.woff') format('woff'),
        url('../fonts/akzidenzBertCn/AkzidGroBEXBdCnIt.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
/*end akzidenz condensed*/
/* bodoni typekit */
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 300;/* bodoni light */
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 300;/* bodoni light oblique*/
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 500;/* bodoni medium */
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 500;/* bodoni medium oblique*/
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 700;/* bodoni Bold */
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 700;/* bodoni bold oblique */
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 800;/* bodoni extra bold */
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 800;/* bodoni extra bold oblique*/
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 800;/* bodoni extra bold */
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
/* end bodoni typekit urw */

/* carolynaBlack @font-face*/
@font-face {
  font-family: 'Carolyna Pro Black';
  src : url('../fonts/carolynaProBlack/CarolynaProBlack.eot');
  src : url('../fonts/carolynaProBlack/CarolynaProBlack.eot?#iefix') format('eot'),
        url('../fonts/carolynaProBlack/CarolynaProBlack.woff2') format('woff2'),
        url('../fonts/carolynaProBlack/CarolynaProBlack.woff') format('woff'),
        url('../fonts/carolynaProBlack/CarolynaProBlack.ttf') format('truetype');
  font-weight: 900; /* Carolyna Pro Black */
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
/* end carolynaBlack @font-face */

/* begin main stylesheets */
body {
    font-feature-settings: "liga" 1;
    font-size: 30px;
    line-height: 1;
    color: black;
    margin: 0;
    padding: 0;
}

@supports (font-variant-ligatures: common-ligatures) {
    body {
        font-feature-settings: normal;
        font-variant-ligatures: common-ligatures;
    }
}

ul {
  list-style-type: none;
  padding: 0 2em 0 0;
  margin: 0 0 2.5em 0;
}
ul:last-of-type {
  padding:0;
}

li {
  margin: 0;
  padding: 0 0 .5em 0;
  color: #660000;
}
li:before {
  content: "•";
  font-size: .85em;
  padding: 0 .25em 0 .5em;
  color: #660000;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: .75em;
  margin: .25em 0;
  color: #660000;
  outline: none;
}
a:hover {
  color: #b30000;
}
input[type=date] {
  font-size: .85em;
  border: 0px;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
h1 {
  margin: .5em 0 .5em -.125em;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
  text-align: left;
}
h3 {
  margin: .125em 0;
  padding:0;
  text-align: left;
}
p {
  margin: .75em 0;
  padding: 0;
  text-align: left;
}

hr {
  margin: -.125em 0 .75em  0;
}
.minusTop {
  padding: -1em 0em 0em 0em;
  margin: -1em 0em 2em 0em;
}
.minusBottom {
  padding: 0em .25em -3.5em .5em;
}
.mainHead {
  font-size: 2em;
  background-color: rgba(190, 190, 190, .75);
  color: rgba(190, 190, 190, .75);
  width: 100%;
  text-align: left;
  padding: 0 .5em;
  margin-bottom: .25em;
}
.journalEntry {
  margin: 0 1em 0 1em;
  padding: 0 0 0 0;
}
.journalText {
  font-size: .75em;
  color: rgba(190,190,190,1.0);
}
.goals {
  font-size: .75em;
}
.minusVerticalSpace {
  margin: -.5em 0 0 0; /* adjust for input area of date */
}
/* Akzidenz Grotesk Converted */
.akzidenzCon {
  font-family: 'akzidenz-grotesk-condensed', sans-serif;
  font-variant: normal;
}
.akzidenzLightCon {
  font-style: normal;
  font-weight: 300;
  letter-spacing: .02em;
  word-spacing: -.01em;
}
/*fake no italic for bold,reglight*/
.akzidenzLightConItalic {
  font-style: italic;
  font-weight: 300;
  letter-spacing: .02em;
  word-spacing: -.02em;
}
.akzidenzRegCon {
  font-style: normal;
  font-weight: 400;
  letter-spacing: .01em;
}
.akzidenzRegConItalic {
  font-style: italic;
  font-weight: 400;
  letter-spacing: .01em;
}
.akzidenzMedCon {
  font-style: normal;
  font-weight: 500;
  letter-spacing: .02em;
  word-spacing: -.02em;
}
.akzidenzMedConItalic {
  font-style: italic;
  font-weight: 500;
  letter-spacing: .01em;
}
.akzidenzBoldCon {
  font-style: normal;
  font-weight: 700;
  letter-spacing: .03em;
  word-spacing: -.01em;
}
.akzidenzBoldItalic {
  font-style: italic;
  font-weight: 700;
  letter-spacing: .01em;
}
.akzidenzBlackCon {
  font-style: normal;
  font-weight: 800;
  letter-spacing: .03em;
  word-spacing: -.01em;
}
.akzidenzBlackConItalic {
  font-style: italic;
  font-weight: 800;
  letter-spacing: .03em;
  word-spacing: -.01em;
}
/*end Akzidenz Condensed*/
/* bodoni typekit*/
.bodoni {
  font-family: 'bodoni-urw', serif;
  font-variant: normal;
  line-height: 1.125;
}
.bodoniLight {
  font-style: normal;
  font-weight: 300;
}
.bodoniLightOblique {
  font-style: italic;
  font-weight: 300;
}
.bodoniMedium {
  font-style: normal;
  font-weight: 500;
  letter-spacing: .01em;
  word-spacing: .015em;
}
.bodoniMediumOblique {
  font-style: italic;
  font-weight: 500;
  letter-spacing: .01em;
  word-spacing: .015em;
}
.bodoniBold {
  font-style: normal;
  font-weight: 700;
  letter-spacing: .02em;
  word-spacing: .03em;
}
.bodoniBoldOblique {
  font-style: italic;
  font-weight: 700;
  letter-spacing: .02em;
  word-spacing: .03em;
}
.bodoniExtraBold {
  font-style: normal;
  font-weight: 800;
  letter-spacing: .025em;
  word-spacing: .03em;
}
.bodoniExtraBoldOblique {
  font-style: italic;
  font-weight: 800;
  letter-spacing: .025em;
  word-spacing: .03em;
}
/* end bodoni font styles */

/* Carolyna Pro Black script*/
.carolynaBlack {
  font-family: 'Carolyna Pro Black', serif;
  font-variant: normal;
  font-weight: 900;
  font-style: serif;
}
/* end Carolyna Pro Black script*/
